<select name="ジャンル検索" size="5" >
  <option value="ケーキ">ケーキ</option>
  <option value="焼き菓子">焼き菓子</option>
  <option value="プリン">プリン</option>
  <option value="キャンディ">キャンディ</option>
</select>


<h1>商品一覧</h1>
<% @items.each do |item| %>
<div>
  <%= attachment_image_tag item, :image %>
  <p>商品画像：<%= image_tag('sample-author1.jpg') %></p>
  <p>商品名：<%= item.name %></p>
  <p>金額：<%= item.price %></p>
</div>
<% end %>
